
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans antialiased bg-slate-50 text-slate-900 min-h-screen;
    background-image: radial-gradient(#e5e7eb 1px, transparent 1px);
    background-size: 20px 20px;
  }
}

@layer components {
  .glass {
    @apply bg-white/70 backdrop-blur-md;
  }
  .mono {
    @apply font-mono;
  }
}
